html { font-size: 62.5%; }

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: silver;
}

a {
    color: silver;
    text-decoration: none;
}
a.visited {
    color: silver;
}
a.hover{
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
}