.business_skills {
    width: 100%;
}
.business_skills ul {
    font-size: 1.2rem;
    padding: 0;
    list-style: none;
}

.business_skills ul li {
    font-weight: bold;
    padding-bottom: 2rem;
}
.business_skills ul li span {
    padding-left: .5rem;
    font-weight: 300;
}

@media only screen and (min-width: 960px) {

    .business_skills ul {
        font-size: 1.8rem;
    }
    .business_skills ul li span {
        padding-left: 1rem;
    }
}
