@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    font-family: Lato, sans-serif;
    background-color: #ffffff;
}

.page h1 {
    font-size: 3.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.page h2 {
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.page p {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 0 1rem 0;
}
.page div {
    padding-top: 0.5rem;
}
.page hr {
    display: block;
    border: 0 solid #000;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    margin-top: 1rem;
    width: 100%;
}

@media only screen and (min-width: 960px) {
    
    .page {
        margin: 5% 10% 10%;
    }

    .page h1 {
        font-size: 5rem;
    }
    .page h2 {
        font-size: 2.8rem;
        padding: 1.5rem 0 1.5rem;
    }
    .page p {
        font-size: 1.8rem;
    }
    .page hr {
        margin-top: 2rem;
    }
    
}